# Binaries
/bin/
/build/
/out/

# Go build output
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
